<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<h3>
  Email Confirmed:
  <% if @user.email_confirmed? %>
  <span style="color:green"
        class="glyphicon glyphicon-thumbs-up"></span>
  <% else %>
      <span style="color:red" class="glyphicon glyphicon-thumbs-down"></span>
  <% end %>
</h3>

<%= link_to 'Edit Profile Settings', edit_user_path(@user), class: 'btn
btn-primary', style: 'color:white' %>
