<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Keystor.es</h1>
    <p class="lead">Cheaply centralize and secure all of your keystores.</p>
  </div>
</div>

<!--<div class="container">-->
<div class="pics col-md-12 center">
  <div class="home-pic col-md-6">
    <img class="col-md-11" src="/images/computer_cash.jpg" alt="">
    <span class="col-md-11">Cheap and easy way to simplify your release
      process</span>
  </div>
  <div class="home-pic col-md-6">
    <img class="col-md-11" src="/images/keyboard_key.jpg" alt="">
    <span class="col-md-11">Store all of your keystore files in one,
      secure location</span>
  </div>
  <div class="home-pic col-md-6">
    <img class="col-md-11" src="/images/padlock.jpg" alt="">
    <span class="col-md-11">Safe and secure, always</span>
  </div>
  <div class="home-pic col-md-6">
    <img class="col-md-11" src="/images/unity.jpg" alt="">
    <span class="col-md-11">Unity across development team,
      centralizing keystores</span>
  </div>
</div>
<!--</div>-->